body {
	background:#fff;
	font-family: Georgia, sans-serif;
}

#container {
	max-width: 640px;
	margin: 0 auto;	
}

.section {
	position:relative;
	background-color:white;
  margin: 20px auto;
  padding: 20px;
  border-width: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
          box-sizing: border-box;
	box-shadow: 3px 3px 5px 4px #ddd;

-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.icon {
	background-color: red;
	position: absolute;
	top: 0px;
	left: 0px;
	width:20px;
}

@media screen and (min-width:600px) {
	#nav {
		float: left;
		width: 25%;;
	}

	.section {
		margin-left: 33%;
	}
}

@media screen and (min-width:480px and max-width:599) {
	#nav {
		float: left;
		width: 15%;;
	}

	.section {
		color:red;
		margin-left: 23%;
	}
}

@media screen and (max-width:479px) {
	#nav li {
		display: inline;
	}
}
