^^ define "content" ^^
<div class="main-container">
	<div class="main wrapper clearfix">
		<div>
			<h1>Veteran Fisherman</h1>
			<p>舳先に立って不吉な潮目を読む老練な漁師のように</p>
		</div>
	<div>

	<h2>article section ^^ .greeting ^^</h2>

	<form method="POST">
		<input type="text" name="email">
	</form>
</div>

<div>
	<h3>article footer h3</h3>
	<p>In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
</div>

<div>
	<h3>sidekick</h3>
	<p>Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
</div>
^^ end ^^
